.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.chat-side {
width: 300px;
background-color: #333333;
}

.chat-main {
width: calc(100% - 300px);
background-color: #1a1d21;
}

.side-header {
height: 100px;
width: 300px;
background-color: #595959;
display: flex;
align-items: center;
}

.groups {
height: calc(100vh - 100px);
width: 300px;
background-color: #333333;
}

.main-header {
height: 100px;
background-color: #3f3f3f;
margin-bottom: 1px solid #595959;
display: flex;
padding: 0 40px;
align-items: center;
justify-content: space-between;
}

.messages {
height: calc(100vh - 190px);
background-color: #1a1d21;
}

.form {
height: 90px;
background-color: #595959;
padding: 20px 40px;
}

.side-box {
 height: 20px;
 width: 260px;
 margin: 0 20px;
 display: flex;
 justify-content: space-between;
 font-weight: bold;
}

.side-box .user-name {
color: #eeeeee;
}

.side-box .menu {
  display: flex;
  list-style: none;
}

.menu .new-group {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.current-group {
  color: #eeeeee;
  margin-bottom: 15px;
  font-size: 20px;
}

.member-list {
  color: #eeeeee;
  font-size: 12px;
  display: flex;
  list-style: none;
}

.member-list li {
  margin-left: 5px;
}

.edit-btn {
  color: #eeeeee;
  font-size: 16px;
  border: 1px solid;
  padding: 15px 20px;
}

.new-message {
  display: flex;
}

.input-text {
width: 100%;
font-size: 16px;
height: 50px;
padding: 0 15px;
color: #434a54;
border-style: none;
}

.send-btn {
 width: 100px;
 height: 50px;
 padding: 0 30px;
 margin-left: 15px;
 background-color: #eeeeee;
 color: #1a1d21;
 font-size: 15px;
 cursor: pointer;
}